body { 
    font-family: 'Montserrat', sans-serif;
    }

.alert-container {}

.callout-container{height: 100vh;

background: url("../images/Whiskey-Background.jpg") no-repeat bottom right; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quotes-container{}
 
.features-container{}


